<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Assignments</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><a href="entrega_talleres\blog\index.html">Blog entry (Z Buffering)</a> </h3>
                        </div><!--//upper-row-->
                        <div class="company">Rendering Assignment</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Blog post about Z Buffering algorithm for rendering. Assignment for Visual Computing course at National University of Colombia</p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
