<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Backend Developer</h3>
                            <div class="time">July 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">National Univerity of Colombia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Took part of the development team for an automated Judge that helps in the process of grading students code, it is meant to be used in the algorithm and data structures courses at the National University of Colombia.</p>
                        <p>The project can be found <a href="https://github.com/JuezUN">here</a>.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Course Assistant</h3>
                            <div class="time">August 2016 - present</div>
                        </div><!--//upper-row-->
                        <div class="company">National University Of Colombia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Course assistant for the course Programming Languages at the National University Of Colombia. This course teaches the workarounds of Compilers and Interpreters. The role assigned requires the declaration (and solution) of assignments that consists of a lexical analyzer, a parser  and an interpreter, for a language chosen by the course's teacher.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
