<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Personal Projects</h2>
                <div class="item">
                    <span class="project-title"><a href="https://camiloasc1.github.io/VideoGamesDevelopmentUNAL/">Victims</a></span> - <span class="project-tagline">Stealth Side Scroller 3D game, developed with Unity.</span>

                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/larranaga/plagiarism-detector" target="_blank">Plagiarism Detector</a></span> -
                    <span class="project-tagline">Plagiarism detector developed in Java, makes use of the suffix array data structure. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/orgs/BusGo/dashboard" target="_blank">BusGo!</a></span> - <span class="project-tagline"><b>Still in development</b> Moblie application that tells the user information about the location and number of passengers of the buses from Bogota's Public Transport System.</span>
                </div><!--//item-->
            </section><!--//section-->
